// font-color

$text-green_dark: #445744;
$text-green_light: #86a686;

// bg-color

$bg-green: #ece8e2;

// font-size

$pc-f-1: 30px;
$mb-f-1: 20px;

$pc-f-2: 20px;
$mb-f-2: 20px;

$pc-f-3: 20px;
$mb-f-3: 12px;

$pc-f-4: 18px;
$mb-f-4: 12px;

$pc-f-5: 16px;
$mb-f-5: 16px;

$pc-f-6: 16px;
$mb-f-6: 12px;

$pc-f-7: 14px;
$mb-f-7: 12px;
